* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    margin: 0;
    height: 100vh;
    display: flex;
}

main {
    background-color: rgb(0, 84, 94);
    width: 15vw;
    display: flex;
    flex-direction: column;
}

#mainInnerContainer {
    flex: 1;
    background-color: rgb(71, 170, 181);
    margin: 3%;
    padding: 3%;
}

input,
textarea {
    max-width: 11.6rem;
    min-width: 11.6rem;
    min-height: 1.9rem;
    height: 1.3rem;
    font-size: 1rem;
}

button {
    background-color: rgb(255, 255, 255);
    border: 0.2vh solid rgb(0, 0, 0);
    font-size: 0.92rem;
    width: 7.5rem;
    height: 2rem;
}

button:hover {
    background-color: rgb(164, 164, 164);
    border: 0.2vh solid rgb(255, 255, 255);
}

aside {
    background-color: rgb(0, 0, 0);
    width: 85vw;
    display: flex;
    flex-direction: column;
}

#asideInnerContainer {
    background-color: rgb(24, 24, 24);
    flex: 1;
    margin: 0.6%;
    padding: 0.6%;
}