* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    margin: 0;
    display: flex;
}

main {
    padding: 1.2rem;
    height: 100vh;
    width: 25vw;
    background-color: rgb(71, 170, 181);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main nav {
    display: flex;
    gap: 0.5rem;
}

main nav button {
    background-color: rgb(0, 0, 0);
    color: rgb(71, 170, 181);
    font-size: 0.92rem;
    width: 7.5rem;
    height: 2rem;
}

nav button:hover {
    background-color: rgb(64, 64, 64);
}

#home-summary-container {
    border-radius: 10px;
    padding: 1.2rem;
    background-color: black;
}

#home-title {
    color: rgb(71, 170, 181);
    font-size: 4rem;
    margin-top: 1.8rem;
    margin-bottom: 0px;
}

main p {
    color: rgb(71, 170, 181);
    font-size: 1.1rem;
}

aside {
    padding: 1.2rem;
    height: 100vh;
    width: 75vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

aside table {
    border: 0px;
    font-size: 0.9rem;
    width: 100%;
    table-layout: fixed; /* Auto makes the sizing distributed by content size */
    word-wrap: break-word;
}