* {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    margin: 0;
    display: flex;
}

main {
    padding: 1.2rem;
    height: 100vh;
    width: 25vw;
    background-color: rgb(71, 170, 181);
    display: flex;
    flex-direction: column;
}

main nav {
    display: flex;
    gap: 0.5rem;
}

main nav button {
    background-color: rgb(0, 0, 0);
    color: rgb(71, 170, 181);
    font-size: 0.92rem;
    width: 7.5rem;
    height: 2rem;
}

nav button:hover {
    background-color: rgb(64, 64, 64);
}

main h1 {
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
}

main label {
    display: inline-block;
    margin-bottom: 1.1rem;
}

main input,
main textarea {
    max-width: 11.6rem;
    min-width: 11.6rem;
    min-height: 1.9rem;
    height: 1.3rem;
    font-size: 1rem;
}

main button {
    background-color: rgb(255, 255, 255);
    font-size: 0.92rem;
    width: 7.5rem;
    height: 2rem;
}

main button:hover {
    background-color: rgb(164, 164, 164);
}

aside {
    padding: 1.2rem;
    height: 100vh;
    width: 75vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

aside table {
    border: 0px;
    font-size: 0.9rem;
    width: 100%;
    table-layout: fixed; /* Auto makes the sizing distributed by content size */
    word-wrap: break-word;
}